body{
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-input{
  position: relative;
  display: inline-block;
  font-size: 15px;
  box-sizing: border-box;
  transition: .5s;
  margin-top: 5px;

  background: #DFDCDC;
  border-radius: 25px 0 0 25px;
  height: 50px;
  border: none;
  /*border-bottom:  2px solid #282c34;*/
}


.form-button{
  position: relative;
  border-radius: 0 25px 25px 0;
  width: 150px;
  height: 50px;
  outline: none;
  cursor:pointer;
  background: #282c34;
  color:#fff;
  left:-5;
}

.contenedor{
  width: 95%;
  margin: auto;
  /*border: 10px solid #000;*/
  display:grid;
  grid-template-columns: repeat(auto-fill,300px); /*1fr es el tamanio de la columna, 1 fraccion */
  grid-gap: 10px; /*pone un espaciado entre los box */
  max-width: 1000px;
}

.box img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: auto;
  filter:brightness(70%);
}

.box img:hover{
  filter:brightness(100%);
}

.box{
  margin:10px;
  padding-bottom: 10px;
  display: block;
  box-shadow: 2px 2px 10px rgba(0,0,0,.25);
  margin: auto;
  background: #DFDCDC;
}

.box-title{
  text-transform: uppercase;
  color:#e74c3c;
  font-size: 1.1rem;
  padding: 1.8rem 0 0.2rem 0;
}

.box-subtitle{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.box-subtitle span{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.box-button{
  border:solid 2px #e74c3c;
  background: transparent;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}


/*
@media(min-width:520px){
  .contenedor{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(min-width:728px){
  .contenedor{
    grid-template-columns: repeat(3,1fr);
  }
}

@media(min-width:1024px){
  .contenedor{
    grid-template-columns: repeat(4,1fr);
  }

  .contenedor{
    width: 1024px;
  }
}

@media(min-width:1200px){
  .contenedor{
    width: 1200px;
  }
}
*/
